body{
    
    background: linear-gradient(to bottom, rgba(102, 99, 138, 0.8) 0%,rgba(102, 99, 138, 0.8) 100%), url("/static/images/background.jpg");
    background-size: cover;
}

#inicio{
    color: hsl(341, 42%, 83%);  
}

#actualizar_text{
    color:white;
}

#logo_iniciar{
    width: 400px;

}

#navbar_bandeja{
    padding-top: -50px;
    background:#d8dee8;
}

#contenedor_bandeja{
    
    display:inline-block;
    background:#d8dee8;
    padding-top: 0px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
}

#buscar_cuadro{
    border-radius: 20px;
}

#ul_eventos{
    padding: 15px;
    
}

#nav_eventos{
    padding:0px;
}

#pasar_pagina{
    padding: 15px;
}

#logo{
    width: 200px;
}

#bandeja_boton{
    padding:10px;
padding-left: 30px;
    position:relative;
    
}

#form_buscar{
    padding-left: 150px;
}

#formulario_agregar{
    text-align: center;
    display:inline-block;
}

#cajon_eventos{
    position: relative;
    float: left;
}

#contenedor_inicio{
    text-align: center;
    display:inline-block;
    background:#d8dee8;
    padding: 30px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
    
}

#contenedor_registro{
    text-align: center;
    display:inline-block;
    background:#d8dee8;
    padding: 30px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
    
}

#contenedor_principal{

    width: 50%;
    height: 50%;
    display:inline-block;
    background:#d8dee8;
    padding: 30px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;
    backdrop-filter: inherit;
    border-radius: 15px;
    
}



#div_flash{
    
    display:inline-block;
    text-align: center;
    
}

#registrate{
    font-size: small;

}

#titulo_iniciar{
    color: #2c5cd4;
    font-size: xx-large;
}
/* {{ url_for('static', filename ='images/background) }}*/
#body_index{
    background:url("/static/images/background.jpg");
    background-size: cover;
    color: #CCC;
    
}

#registrate_text{
    color: #CCC;
    font-weight: bold;
}

#iniciasesion_text{
    color: #CCC;
    font-weight: bold;
}

.datos_eventos{
    background-color:#CCC;
	width:100%;
	height:100px;
    display:flex;
    justify-content: space-around;
}

.contenido_evento{
    height:80px;
    width:10%;
    float:left;
    margin: 10px;
}

.li_evento{
    padding-right: 10px;
    padding-left: 10px;
}

.list-group-item{
    background: #c4cce0;
}

.caja{
    display: none;
}

.caja.ocultar{
    display: block;
}

.caja2{
    display: none;
}

.caja2.ocultar{
    display: block;
}

.caja3{
    display: none;
}

.caja3.ocultar{
    display: block;
}

#tipdatos_eventos{
    padding-right: 133px;
}
td{
    padding-right: 10px;
}

.desplegable{position:relative; top:10px;margin:0;padding:0;box-sizing:border-box;font-size:0;}  
.desplegable nav a{
      text-decoration:none;
      color:white;
      font-size:14px;
      }
            
.desplegable nav li{
      display:inline-block;
    border-radius: 6px;
      padding:3px;
      text-align:center;
    background-color: #aab5c6;
      position:relative;
}
        
            
.desplegable nav li>ul{
      display:none;
      }

.desplegable nav li:hover>ul{
      display:block;
      position:absolute;
      top:40px;
      right: 0px;
}





/* Estilo de fondo azul con baja opacidad */

header.masthead {
    padding-top: 10rem;
    padding-bottom: calc(10rem - 4.5rem);
    background: linear-gradient(to bottom, rgba(102, 99, 138, 0.8) 0%,rgba(102, 99, 138, 0.8) 100%), url("../assets/img/bg-masthead.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
  }
  header.masthead h1 {
    font-size: 2.25rem;
  }
  @media (min-width: 992px) {
    header.masthead {
      height: 100vh;
      min-height: 40rem;
      padding-top: 4.5rem;
      padding-bottom: 0;
    }
    header.masthead p {
      font-size: 1.15rem;
    }
    header.masthead h1 {
      font-size: 3rem;
    }
  }
  @media (min-width: 1200px) {
    header.masthead h1 {
      font-size: 3.5rem;
    }
  }