body{
    background: #aab5c6; 
}

#inicio{
    color: hsl(341, 42%, 83%);  
}

#logo_iniciar{
    width: 400px;
    position: relative;
    left: 470px;
}

#navbar_bandeja{
    padding-top: -50px;
    background:#d8dee8;
}

#contenedor_bandeja{
    
    background:#d8dee8;
    padding-top: 0px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
}

#buscar_cuadro{
    border-radius: 20px;
}

#ul_eventos{
    padding: 15px;
    
}

#nav_eventos{
    padding:0px;
}

#pasar_pagina{
    padding: 15px;
}

#logo{
    width: 200px;
}

#bandeja_boton{
    padding:10px;
padding-left: 30px;
    position:relative;
    
}

#form_buscar{
    padding-left: 150px;
}

#formulario_agregar{
    position: unset;
    display:inline-block;
}

#cajon_eventos{
    position: relative;
    float: left;
}

#contenedor_inicio{
    background:#d8dee8;
    padding: 30px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
    
}

#contenedor_registro{
    background:#d8dee8;
    padding: 30px;
    max-width: auto;
    min-width: auto;

    max-height: auto;
    min-height: auto;

    border-radius: 15px;
    
}

.datos_eventos{
    background-color:#CCC;
	width:100%;
	height:100px;
    display:flex;
    justify-content: space-around;
}

.contenido_evento{
    height:80px;
    width:10%;
    float:left;
    margin: 10px;
}

.li_evento{
    padding-right: 10px;
    padding-left: 10px;
}

.list-group-item{
    background: #c4cce0;
}

.caja{
    display: none;
}

.caja.ocultar{
    display: block;
}

.caja2{
    display: none;
}

.caja2.ocultar{
    display: block;
}

#tipdatos_eventos{
    padding-right: 133px;
}
td{
    padding-right: 10px;
}

.desplegable{position:relative; top:10px;margin:0;padding:0;box-sizing:border-box;font-size:0;}  
.desplegable nav a{
      text-decoration:none;
      color:white;
      font-size:14px;
      }
            
.desplegable nav li{
      display:inline-block;
    border-radius: 6px;
      padding:3px;
      text-align:center;
    background-color: #aab5c6;
      position:relative;
}
        
            
.desplegable nav li>ul{
      display:none;
      }

.desplegable nav li:hover>ul{
      display:block;
      position:absolute;
      top:40px;
      right: 0px;
}