<form action="/actualizar" method="POST">

    <label for="titulo">Titulo del evento</label>
    <input type="text" name="titulo"><br/>

    <label for="descricion">Descripcion del evento</label>
    <input type="text" name="descripcion"><br/>

    <label for="dia">Dia del evento</label>
    <input type="text" name="dia"><br/>

    <label for="fecha">Fecha del evento</label>
    <input type="date" name="fecha"><br/>

    <label for="hora">hora del evento</label>
    <input type="time" name="hora"><br/>

    <br><br>
    <input type="submit" value="Actualizar Evento">
  </form>