{% extends "layout.html" %}


{% block content %}
<center><h1 id="actualizar_text">Actualizar Informaciòn</h1>
<br>
<div id="contenedor_registro"class="jumbotron jumbotron-fluid ">
<form action="/actualizar/{{ evento.0 }}" method="POST">

    <label for="titulo">Titulo del evento</label> 
    <input type="text" name="titulo" required value="{{ evento.2 }}" ><br/>

    <label for="descricion">Descripcion del evento</label>
    <input type="text" name="descripcion" required value="{{ evento.3 }}" ><br/>


    <label for="fecha">Fecha del evento</label>
    <input type="date" id="fechaReserva" required min="2019-09-01" name="fecha" value="{{ evento.4 }}"> <br>


    <label for="hora">hora del evento</label>
    <input type="time" name="hora" required value="{{ evento.5 }}" ><br/>
  <br>
    <input type="submit" class="btn btn-primary" required value="Actualizar evento">
    <a href="/bandeja">Cancelar</a>
</form>
</div>
<script>
    var fecha = new Date();
    var anio = fecha.getFullYear();
    var dia = fecha.getDate();
    var _mes = fecha.getMonth();
    _mes = _mes + 1; 
    if (_mes < 10) 
    {
      var mes = "0" + _mes;
    } else {
      var mes = _mes.toString;
    }
    document.getElementById("fechaReserva").min = anio + '-' + mes + '-' + dia;
    
    </script>

{% for message in get_flashed_messages() %}
<div id="div_flash"  class="alert alert-primary alert-dismissible fade show" role="alert">
  <strong>Anuncio</strong> {{ message }}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close" onClick="muestra_oculta('div_flash')">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
</center>
{% endfor %}

{% endblock %}