{% extends "layout.html" %}


{% block content %}

<div id="contenedor_bandeja"class="jumbotron jumbotron-fluid ">
  
    <nav id="navbar_bandeja" class="navbar navbar-expand-lg navbar-secondary">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <img id="logo" src="{{ url_for('static', filename ='images/logo.png') }}">

          <li class="nav-item">
            <a class="nav-link" href="#">Bandeja
              <span class="badge badge-primary badge-pill">14</span>
            </a>
          </li>

          <form class="form-inline my-2 my-lg-0">
            <input id="buscar_cuadro" class="form-control mr-sm-2" name= 'buscar' type="search" placeholder="Buscar..." aria-label="Search">
            <button class="btn btn-outline-primary my-2 my-sm-0" action='/bandeja' type="submit">Buscar</button>
          </form>
          


        </ul>
        <ul class="nav justify-content-end">
          <li class="nav-item">
            <a id="usuario" class="nav-link" href="/">{{ lis }} </a>
          </li>
        </ul>
      </div>
    </nav>

    <ul id="ul_eventos" class="list-group list-group-flush">
      
      <button align="center" id="btn" type="button" class="btn btn-primary ">Agregar</button>

    <div id = "caja" class="caja">
      <class class="form">
        <form action="/agregar_eventos" method="POST">

          <label for="titulo">Usuario</label>
          <input type="text" name="usuario"><br/>

          <label for="titulo">Titulo del evento</label>
          <input type="text" name="titulo"><br/>

          <label for="descricion">Descripcion del evento</label>
          <input type="text" name="descripcion"><br/>

          <label for="dia">Dia del evento</label>
          <input type="text" name="dia"><br/>

          <label for="fecha">Fecha del evento</label>
          <input type="date" name="fecha"><br/>

          <label for="hora">hora del evento</label>
          <input type="time" name="hora"><br/>

          <br><br>
          <input type="submit" value="Agregar evento">
        </form>
      </class>
    </div>

      <br>

      <li class="list-group-item">
        <nav id="nav_eventos" class="navbar navbar-expand-lg navbar-secondary">
          <div>
            <table>
              <thead>
                <tr>
                  <td><b>Eliminar</b></td>
                  <td><b>Usuario</b></td>
                  <td><b>Titulo</b></td>
                  <td><b>Descripcion</b></td>
                  <td><b>Dia</b></td>
                  <td><b>fecha</b></td>
                  <td><b>hora</b></td>
                </tr>
              </thead>
              <tbody>
                {% for dato in datos %}
                  <tr>
                    <td><a href="/eliminar/{{dato.0}}">X</a></td>
                    <td>{{dato.1}}</td>
                    <td>{{dato.2}}</td>
                    <td>{{dato.3}}</td>
                    <td>{{dato.4}}</td>
                    <td>{{dato.5}}</td>
                    <td>{{dato.6}}</td>
                    <td><a href="/actualizar/{{dato.0}}">✎</a></td>
                  </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
            <ul class="nav justify-content-end">
              <li class="li_evento">
                02/09/2020
              </li>
            </ul>

            <ul class="nav justify-content-end">
              <li class="li_evento">
                3:00 PM
              </li>
            </ul>
        </nav>
      </li>


<!--###############################################################################-->
<!--###############################################################################-->
    </ul>
    

    <nav id="pasar_pagina" aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
        <li class="page-item"><a class="page-link" href="#">1</a></li>
        <li class="page-item"><a class="page-link" href="#">2</a></li>
        <li class="page-item"><a class="page-link" href="#">3</a></li>
        <li class="page-item"><a class="page-link" href="#">Next</a></li>
      </ul>
    </nav>

</div>

<script type = "text/javascript" src="/../static/js/boton.js">  
</script>
{% endblock %}