{% extends "layout.html" %}


{% block content %}

<div id="contenedor_bandeja"class="jumbotron jumbotron-fluid ">
  
    <nav id="navbar_bandeja" class="navbar navbar-expand-lg navbar-secondary">
      
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">

          <img id="logo" src="{{ url_for('static', filename ='images/logo.png') }}">

          <li id="bandeja_boton"class="nav-item">
            <a  class="btn btn-outline-primary">Bandeja
              <span class="badge badge-primary badge-pill">{{ numero }}</span>
            </a>
          </li>

          <form id="form_buscar"class="form-inline my-2 my-lg-0" action='/bandeja' method='POST'>
            <input id="buscar_cuadro" class="form-control mr-sm-2" name= 'buscar' type="search" placeholder="Buscar..." aria-label="Search">
            <input class="btn btn-outline-success" type="submit" value="Buscar">
          </form>
        
        </ul>
  <div class="desplegable">  
    <nav>
      <ul>
          <li>
            <a class="btn btn-primary dropdown-toggle" href="#">{{ lis }}</a>
              <ul>
              <li class="nav-item"><a class="dropdown-item" href="/cerrar">Cerrar sesión</a></li>
              </ul>
          </li>
      </ul>
    </nav>
  </div>

      </div>
    </nav>

    <ul id="ul_eventos" class="list-group list-group-flush">
      
      <button align="center" id="btn" type="button" class="btn btn-primary ">Agregar</button>


    
    <div id = "caja" class="caja">
      <div id="formulario_agregar"class="jumbotron">
      <class class="form">
        <form action="/agregar_eventos" method="POST">

          

          <label for="titulo">Titulo del evento</label>
          <input type="text" name="titulo"><br/>

          <label for="descricion">Descripcion del evento</label>
          <input type="text" name="descripcion"><br/>

          <label for="dia">Dia del evento</label>
          <input type="text" name="dia"><br/>

          <label for="fecha">Fecha del evento</label>
          <input type="date" name="fecha"><br/>

          <label for="hora">hora del evento</label>
          <input type="time" name="hora"><br/>

          <br><br>
          <input type="submit" value="Agregar evento">
        </form>
      </class>
    </div>
  </div>

      <br>

      <li id="cajon_eventos"class="list-group-item shadow p-3 mb-5 bg-white rounded">
        <nav id="nav_eventos" class="navbar navbar-expand-lg navbar-secondary">
          <div>
            <table>
              <thead>
                <tr>
                  <td><b>Eliminar</b></td>
                  <td id="tipdatos_eventos" ><b>Titulo</b></td>
                  <td id="tipdatos_eventos" ><b>Descripcion</b></td>
                  <td id="tipdatos_eventos" ><b>Dia</b></td>
                  <td id="tipdatos_eventos" ><b>Fecha</b></td>
                  <td id="tipdatos_eventos" ><b>Hora</b></td>
                  <td id="tipdatos_eventos" ><b>Editar</b></td>
                </tr>
              </thead>
              <div class="contenedor">
                <tbody>
                  {% for dato in datos %}
                    <tr>
                      <td><a class="btn btn-danger" href="/eliminar/{{dato.0}}">X</a></td>
                      <td>{{dato.2}}</td>
                      <td>{{dato.3}}</td>
                      <td>{{dato.4}}</td>
                      <td>{{dato.5}}</td>
                      <td>{{dato.6}}</td>
                      <td><a class="btn btn-light" href="/editar/{{ dato.0 }}">✎</a></td>
                    </tr>
                  {% endfor %}
                </tbody>
              </div>
              </table>
            </div>
        </nav>
      </li>
      
    </ul>
    
</div>

<script type = "text/javascript" src="/../static/js/boton.js">  
</script>
{% endblock %}