<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <title>Bandeja</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    
    <!-- Boostrap style -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" 
    integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    
    <!-- Custom style -->
    <link rel='stylesheet' href="{{ url_for('static', filename ='css/main.css') }}">
    
</head>
<body>
    

<div class="container p-4">
    {% block content %}
    {% endblock %}
</div>

</body>
</html>