<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <form action="/registro" method="POST">
        <label for="Usuario">Ingrese su nombre de usuario</label>
        <input type="text" name="usuario"><br/>

        <label for="nombre">Ingrese su nombre</label>
        <input type="text" name="nombre"><br/>

        <label for="apellidos">Ingrese sus apellidos</label>
        <input type="text" name="apellidos"><br/>

        <label for="contraseña">Crea una contraseña</label>
        <input type="password" name="contraseña"><br/>

        <label for="contraseña">repita su contraseña</label>
        <input type="password" name="contraseña2"><br/>
        <br><br/>
        <input type="submit" value="Aceptar">
    </form>

  </body>
</html>
